<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">DashBoard</a>
    </div>

    <ul class="nav navbar-nav" style="float: right">
      <li><a [routerLink]="['scoreboard']" >Score Board</a></li>
      <li><a [routerLink]="['login']" (click)="logout()" *ngIf="checkloggedin()">Logout</a></li>
      <li><a [routerLink]="['login']" *ngIf="!checkloggedin()">Login</a></li>
      <li><a [routerLink]="['profile']" *ngIf="checkloggedin()">Profile</a></li>
    </ul>
  </div>
</nav>


<!--The content below is only a placeholder and can be replaced.-->
<router-outlet></router-outlet>
