<div class="row">
  <div class="col-sm-3 col-md-2">
    <table class="table">
      <thead>
      <tr>
        <th>User Name</th>
        <th>Picked Count</th>
        <th>Abstractive Completed</th>
        <th>Extractive Completed</th>


      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users" style="cursor: pointer">
        <td>{{user.username}}</td>
        <td>{{user.picked}}</td>
        <td>{{user.ExtractiveCompleted}}</td>
        <td>{{user.AbstractiveCompleted}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
